VITE_ASGARDEO_CLIENT_ID=your_client_id
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/your_organization_name
VITE_REDIRECT_URL=http://localhost:5173
VITE_ASGARDEO_ORG_ID=org_id
VITE_API_URL=http://localhost:9092
